@model AdministrasiBuku.Models.Buku

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hapus Buku</h2>

<h3>Anda yakin ingin menghapus buku ini?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JudulBuku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JudulBuku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pengarang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pengarang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TahunTerbit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TahunTerbit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Isbn" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
