@model IEnumerable<AdministrasiBuku.Models.Buku>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudulBuku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pengarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TahunTerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jumlah)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JudulBuku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pengarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TahunTerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Isbn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Isbn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Isbn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
