@model IEnumerable<AdministrasiBuku.Models.Buku>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a type="button" asp-action="Create" class="btn btn-outline-primary">Tambah Buku</a>
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Buku</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Judul Buku</th>
                        <th>Pengarang</th>
                        <th>Penerbit</th>
                        <th>Tahun Terbit</th>
                        <th>Jumlah</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <!--
                    <tfoot>
                        <tr>
                            <th>ISBN</th>
                            <th>Judul Buku</th>
                            <th>Pengarang</th>
                            <th>Penerbit</th>
                            <th>Tahun Terbit</th>
                            <th>Jumlah</th>
                            <th>Manage</th>
                        </tr>
                    </tfoot>
                    -->

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Isbn)</td>
                            <td> @Html.DisplayFor(modelItem => item.JudulBuku)</td>
                            <td> @Html.DisplayFor(modelItem => item.Pengarang)</td>
                            <td> @Html.DisplayFor(modelItem => item.Penerbit)</td>
                            <td> @Html.DisplayFor(modelItem => item.TahunTerbit)</td>
                            <td> @Html.DisplayFor(modelItem => item.Jumlah)</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ubah
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Isbn">Edit</a></li>
                                        <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Isbn">Cek Detail</a></li>
                                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Isbn">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

